<ion-header>
  
  <ion-toolbar color="dark">
    <ion-chip>
      <ion-avatar>
        <img src="assets\gitImages\avatar.jpg">
      </ion-avatar>
      <ion-label color="success">Chip Avatar</ion-label>
      <ion-searchbar class="search" placeholder="Bạn muốn nghe gì nè. "></ion-searchbar>
    </ion-chip>
    
  </ion-toolbar>
</ion-header>
<div id="container">
  <strong>{{ name }}</strong>
  
  <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
</div>