<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-label class="titleHome">Cá nhân</ion-label>
      <ion-icon name="musical-note"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="discover">
      <ion-label class="titleHome">Khám phá</ion-label>
      <ion-icon name="planet"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="ratings">
      <ion-label class="titleHome">Top</ion-label>
      <ion-icon name="trending-up"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
